# server
SERVER_USER=YOUR_USERNAME_HERE
SERVER_HOST=YOUR_HOSTNAME_HERE
SERVER_PATH=YOUR_APP_PATH_HERE
REPO_URL=git@github.com:sukiboo/crypto-invest-bot.git
IMAGE_NAME=crypto-invest-bot

# kraken
KRAKEN_API_KEY=YOUR_API_KEY_HERE
KRAKEN_API_SECRET=YOUR_API_SECRET_HERE

# telegram
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_USER_ID=YOUR_USER_ID_HERE
